<nav class="font-sans flex items-center justify-between flex-wrap p-6">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <span class="font-semibold text-2xl text-green-800 tracking-tight">Crime Report | KE Admin </span>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block text-xl mt-4 lg:inline-block lg:mt-0 text-green hover:text-green-600 ml-28 mr-28">
        Data Dashboard
      </a>
      <a href="#responsive-header" class="block text-xl mt-4 lg:inline-block lg:mt-0 text-green hover:text-green-600 mr-28">
        Reports
      </a>
    </div>
    <div>
      <a href="#" class="bg-green-600 inline-block text-xl px-8 py-4 leading-none border rounded text-white border-black">Generate Report</a>
    </div>
  </div>
</nav>