<div class="about-page">
    <h1>About Crime Report | KE</h1>
    <div class="about-page-text-with-image">
        <div>
            <p>Welcome to Crime Report | KE, your digital platform for empowering communities and fostering safety across Kenya. We are dedicated to providing a secure and accessible space where individuals can actively participate in safeguarding their neighborhoods by reporting incidents of crime.</p>
            <p>At Crime Report | KE, we understand the importance of community involvement in creating a safer environment for everyone. With rising concerns about crime rates and public safety, it's crucial to have a platform where citizens can easily report incidents, share vital information, and contribute to the collective effort of crime prevention.</p>
            <p>Our platform serves as a bridge between the community and law enforcement agencies, facilitating the efficient sharing of crucial information that helps in the investigation and resolution of cases. By harnessing the power of technology, we aim to streamline the reporting process, making it convenient and hassle-free for users to report incidents from their smartphones, tablets, or computers.</p>
        </div>
        
        <div class="about-page-img"></div>
    </div>
    
    <h2>Key features of Crime Report | KE include:</h2>
    <ol>
        <li>User-Friendly Interface: Our intuitive interface ensures that reporting incidents is simple and straightforward, allowing users to provide essential details such as the type of crime, location, and any relevant information that can assist authorities in their investigations.</li>
        <li>Anonymity and Confidentiality: We prioritize the privacy and security of our users. Crime Report | KE allows individuals to report incidents anonymously if they choose, ensuring that they can share information without fear of retaliation.</li>
        <li>Real-Time Updates: Stay informed about incidents and developments in your community with real-time updates on reported crimes. Our platform helps keep you aware of potential risks and enables proactive measures to enhance community safety.</li>
    </ol>
</div>