<turbo-frame id="page-template">
    <div class="dashboard">
        <h1>Data Dashboard</h1>
        <p>Types of crimes</p>
        <div data-controller="chart" style="width: 800px;">
            <canvas id="acquisitions"></canvas>
        </div>
    </div>
</turbo-frame>
