<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Report</title>
</head>
<body>
    <div class="hero">
        <div class="hero-image"></div>
        <div class="hero-text-container">
            <h1>Empower Your Community Against Crime</h1>
            <p>Join a community dedicated to preventing and reporting crime. By sharing information and staying vigilant, we can build safer communities for everyone. Start making a difference today.</p>
            <%= link_to 'Report Now', new_report_path, class: "hero-btn" %>
        </div>
    </div>
</body>
</html>