// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// @import "active_admin/mixins";
// @import "active_admin/base";

@import "normalize.css";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#wrapper {
    font-family: 'DM Sans', sans-serif;
    padding-left: 259px;
    padding-right: 259px;
}

#header {
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--light-grey);
}

#header .site_title {
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    color: #135e3b;
    font-weight: bold;
}

.header-item {
    
    display: flex;
    list-style: none;

}

.menu_item {
    font-weight: bold;
    color: #6d6d6d;
    padding-right: 16px;
}

a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
    outline: none; /* Remove outline */
    /* Additional styles can be added as per your requirement */
}


.nav-right-side .nav-right-side-link:hover {
    color: var(--black);
}

#login {
    font-family: 'DM Sans', sans-serif;
    margin-top: 100px;
}

#login h2 {
    font-weight: bold;
    font-size: 34px;
}

#login fieldset {
    border: none;
}

#login ol {
    list-style: none;
}

#login li {
    font-size: 24px;
    margin-right: 5px;
}